<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Interviews</title>
</head>
<body>
    <nav class="navbar navbar-light " style="background-color: #f3f6fa;"> 
        <img id="logoREC" src="https://www.recursionnitd.in/static/image/Loader.jpeg" style="max-width:50px; padding-bottom: 4px; padding-left: 8px" alt="logo"><span><strong>REC</strong>ursion</span><span style="padding-right: 3vw">About</span>
        </nav>
       

        <div class="card" style="width: 18rem; padding: 20px 12px; margin-left: 30px; margin-top:30px;">
            <div class="card-body" >
                <div style="display: flex; flex-direction: row;">
              <h5 class="card-title"><%= post.title %></h5><h5 class="text-muted">(<%= post.subtitle %>)</h5>
            </div>
              <h6 class="card-title">By:<%= post.name %></h6>
              <p class="card-text"><%= post.description %></p>
              
            </div>
          </div>
   
    <div style="display:flex; flex-direction:row;">
        <div style="margin-top: 30px; margin-left: 30px;">
    <a href="/" class="btn btn-secondary">All Posts</a>
</div>
<div style="margin-top: 30px; margin-left: 20px;">
    <a href="/posts/edit/<%= post.id %>" class="btn btn-info">Edit</a>
</div>
    </div>
   
</body>
</html>

